---
processes:
- name: web
  executable: /var/vcap/packages/concourse/bin/concourse
  args: [web]
  capabilities: [NET_BIND_SERVICE]

  hooks:
    pre_start: /var/vcap/jobs/web/bin/pre_start

  limits:
    open_files: 65536

  env:
    CONCOURSE_METRICS_ATTRIBUTE: <%= "bosh-deployment:#{spec.deployment},bosh-job:#{name}".to_json %>

<%
  if_link("web") do |l|
    web_urls = []
    web.instances.each do |instance|
      web_urls << "http://#{instance.address}:#{web.p("bind_port")}"
    end
-%>
    CONCOURSE_TSA_ATC_URL: <%= web_urls.join(",").to_json %>
<%
  end
-%>

<%
  if p("peer_url", "").empty?
-%>
    CONCOURSE_PEER_URL: http://<%= spec.address %>:<%= p("bind_port") %>
<%
  end
-%>

<%
  if p("external_url", "").empty?
    if_p("tls.bind_port") do |tls_port|
-%>
    CONCOURSE_EXTERNAL_URL: https://<%= spec.address %>:<%= tls_port %>
<%
    end.else do
-%>
    CONCOURSE_EXTERNAL_URL: http://<%= spec.address %>:<%= p("bind_port") %>
<%
    end
  end
-%>

<%
  if p("postgresql.host", "").empty?
    if_link("postgres") do |l|
-%>
    CONCOURSE_POSTGRES_HOST: <%= l.instances.first.address.to_json %>
<%
    end
  end
-%>

{{template "env_helpers.erb.tmpl" .}}

{{ range $prop := .EnvProperties -}}
{{- if $prop.Env -}}
<% if_p("{{$prop.Name}}") do |v| -%>
    {{$prop.Env}}: <%= env_flag(v).to_json %>
<% end -%>

{{ end -}}

{{- if $prop.EnvFile -}}
<% if_p("{{$prop.Name}}") do |v| -%>
    {{$prop.EnvFile}}: <%= env_file_flag(v, "{{$prop.EnvFile}}").to_json %>
<% end -%>

{{ end -}}
{{- end -}}
