src/concourse/dev.tgz
dev/vbox/local-ops/*.yml

config/dev.yml
config/private.yml
releases/*.tgz
releases/**/*.tgz
dev_releases
.blobs
blobs
.dev_builds
.idea
.DS_Store
.final_builds/jobs/**/*.tgz
.final_builds/packages/**/*.tgz
*.swp
*~
*#

# dev setup
dev/vbox/bosh-deployment/
dev/vbox/creds.yml
dev/vbox/state.json
dev/vbox/deploy-creds.yml
dev/base
