$ErrorActionPreference = "Stop";
trap { $host.SetShouldExit(1) }

mkdir C:\var\vcap\jobs\{{.Name}}\config\env -ErrorAction SilentlyContinue

<%
  def env_file_content(v)
    case v
    when Array
      v.join("\n").chomp + "\n"
    when String
      v.chomp + "\n"
    else
      v.to_json + "\n"
    end
  end

  def env_file_writer(v, env)
    path = "C:\\var\\vcap\\jobs\\{{.Name}}\\config\\env\\#{env}"

    case v
    when Array
      v.collect.with_index do |v, i|
        "[IO.File]::WriteAllLines(\"#{path}_#{i}\", @'\n#{env_file_content(v)}\n'@)"
      end.join("\n\n")
    when Hash
      v.collect do |k, v|
        "[IO.File]::WriteAllLines(\"#{path}_#{k}\", @'\n#{env_file_content(v)}\n'@)"
      end.join("\n\n")
    else
      "[IO.File]::WriteAllLines(\"#{path}\", @'\n#{env_file_content(v)}\n'@)"
    end
  end
-%>

{{ range $prop := .EnvProperties -}}
{{- if $prop.EnvFile -}}
<% if_p("{{$prop.Name}}") do |v| -%>
<%= env_file_writer(v, "{{$prop.EnvFile}}") %>
<% end -%>
{{ end -}}
{{- end -}}
